<div phx-window-keydown="handle_keydown">
  <div class="grid grid-rows-6 gap-1">
    <%= for {attempt, index} <- Enum.with_index(@game.attempts) do %>
      <WordleComponents.guess_row row_index={index} word={@game.word} guess={attempt} />
    <% end %>
  </div>
  <div class="mt-20"></div>

  <div>
    <WordleComponents.keyboard game={@game} />
  </div>
</div>
