<header class="px-4 sm:px-6 lg:px-8">
  <div class="flex items-center justify-between border-b border-zinc-100 py-3">
    <span class="mx-auto text-2xl antialised">ExWordle</span>
  </div>
</header>
<main class="ml-16 py-20 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-md">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
